@font-face{
   font-family: p1;
   src: url(../../Assets/fonts/RobotoRegular.ttf)

}

@font-face{
   font-family: p2;
   src: url(../../Assets/fonts/OswaldMedium.ttf)

}

@font-face{
   font-family:p3;
   src: url(../../Assets/fonts/OswaldRegular.ttf)

}

@font-face{
   font-family: p4;
   src: url(../../Assets/fonts/RobotoBold.ttf)

}


@font-face{
   font-family: p5;
   src: url(../../Assets/fonts/RobotoMedium.ttf)

}


body{
   margin:0px;
   padding: 0px;
   width: 100%;
   background-color: rgb(9,24,83);
}

header{
   background-image: url(../../Assets/images/banner-overlay-img.png);
  background-size: cover;
  background-repeat: no-repeat;
   height: 750px;
   width: 100%;
   display: flex;
   flex-direction: column;
   /* background-color: red; */
  
}

nav{
   height: 200px;
   /* background-color: beige; */
   display: flex;
  
  
}

.logonav{
   height: 200px;
   width: 33%;
   /* background-color: red; */
   display: flex;
   justify-content: end;
   align-items: center;
   margin-top: 30px;
}

.logo1{
   height: 150px;
   width: 180px;
   background-image: url(../../Assets/images/logo-img.png);
   background-repeat: no-repeat;
   background-size:contain;
   background-position:right

}

.recherche {
   width: 55%;
   height: 200px;
   /* background-color: violet; */
   display: flex;
   gap: 50px;
   align-items: center;
   justify-content: center;
}

.contenue1header{
   height: 800px;
   width: 100%;
   /* background-color: red;
   opacity: 50%; */
   display: flex;
   align-items: center;
   justify-content:end;
   align-items: center;
   
   
   

}

.enfant1{
   height: 300px;
   
   width: 35%;
   /* background-color: yellow; */
   display: flex;
   margin-top: 70px;
   flex-direction: column;
   /* align-items: center; */
   justify-content: end
 
  
}

.enfant2{
   height: 500px;
   width: 43%;
   
   display: flex;
   margin-right: 20px;
  
   /* align-items: center; */
   
   align-items:end
  
   
}

.logo2{
   height: 400px;
   width:550px;
   
}

.titre1{
   color:white;
   font-size: 50px;
   margin-bottom: 0;
   font-family: p1;
}

.button2{
   width: 30%;
   border-radius: 20px;
   height: 40px;
   background-color: rgb(10,211,239);
   color: white;
   border:0;
   font-family: p1;
   
}

.button2:hover{
   background-color: transparent;
   border: 2px solid  rgb(10,211,239) ;
}

.button3{
   width: 30%;
   border-radius: 20px;
   height: 40px;
   background-color: rgb(33,82,159);
   color: white;
   border:0;
   font-family: p1;
}

.button3:hover{
   background-color: transparent;
   border: 2px solid  rgb(10,211,239) ;
}

.para{
   color: #a1aadf;
   font-family: p1;
  
}

.button1{
   width: 15%;
   border-radius: 20px;
   height: 40px;
   background-color:  rgb(10,211,239);
   color: white;
   border:0;
   font-family: p1;

}

.navp{
   color: white;
   font-family: p1;
}

/* ------------------------------header-------------------------------------- */

/* ---------------------------------main---------------------------------------- */

.section_first{
   height: 850px;
   width: 100%;
   background-color: rgb(10,22,80);
   display: flex;
   flex-direction: column;
}


.titlesectionfirst{
   height: 150px;
   width: 100%;
   /* background-color: beige; */
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   line-height: 0px;
}

h5{
   margin-bottom: 15px;
   color:rgb(22,151,190);
   font-family: p1;
   letter-spacing: 2px;
}

h1{
   color: white;
   font-size: 40px;
   font-family: p3;
}

.logosectionfirst{
   height: 130px;
   width: 100%;
   /* background-color: red; */
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
}

.icon{
   border-radius: 15px;
   padding: 10px;
   height: 70px;
   width: 70px;

}

.cadreforicon:hover .icon{
 
   background-image: white;
   filter: brightness(0) invert(1);
   animation-name: deplacement;
   animation: deplacement 0.5s ease-in-out  forwards;
}

@keyframes deplacement {

  0%{
   transform: translatey(0);
  }

  100%{
   transform: translatey(-10px);
  }

  
}



.cadreforicon{
   height: 110px;
   width: 120px;
   background-color:rgb(23,37,110) ;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.cadreforicon:hover{
   background-color:  rgb(10,211,239);
}

.seconddiv{
      height: 600px;
      width: 100%;
      /* background-color: red; */
      display: flex;
      gap: 55px;
}

.imagesectionfirst{
   height: 500px;
   width: 62%;
   /* background-color: yellow; */
   display: flex;
   justify-content: end;
   align-items: end,center;
   margin-top: 100px;
}

.imagesectionfirst1{
   height: 400px;
   width: 450px;
   /* background-color: green; */
}

.textesectionfirst{
  height: 550px;
   width: 40%;
   /* background-color: yellow; */
   display: flex;
   flex-direction: column;
   
   justify-content: center;


}

.h1sectionfirst{
   color: white;
   font-size: 35px;
   margin-top: 0px;
   margin-bottom: 3px;
   font-family: p3;

}

.h4sectionfirst{
   margin-bottom: 0px;
   color:rgb(22,151,190);
   font-family: p1;
   letter-spacing: 2px;

}

.parasectionfirst{
   color: #586baf;
   /* margin-left: 20px; */
   font-family: p1;
  
   
}

.liste{
   list-style-type: circle ;
   color: #586baf;
   font-family: p1;
   /* margin-top: 2px; */
}

ul{
   /* margin-left: 0px; */
   padding-left: 20px;
   margin-top: 0px;
}

.fleche{
   width: 20%;
   /* background-color: green; */
   display: flex;
   align-items: center;
   justify-content: end;
}

.flecheimage{
   height: 280px;
   width: 80%;
  
}

/* ---------------------------fin style section_first----------------------------- */

/* ---------------------------section_second----------------------------- */

.section_second{
   height: 650px;
   width: 100%;
   background-color: rgba(18,32,97,255);
   /* background-image: url(../../Assets/images/image\ 2\ molenstar.png);
   background-size: 100% 100%; */
   background-image: url(../../Assets/images/overly-background.png);
   background-position: 80% 49%;
   background-repeat: no-repeat;
display: flex;
   flex-direction: column;
   align-items: center;

}


.titresectionsecond{
   height: 200px;
   width: 50%;
   /* background-color: red; */
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   line-height: 40px;
}

.boxcontenue{
   height: 320px;
   width: 100%;
   /* background-color: beige; */
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-top: 20px;
}

.contenue{
   height: 280px;
   width: 14%;
   background-color:rgba(23,37,110,255);
   /* flex-wrap: wrap; */
   border-radius: 15px;
   display: flex;
   flex-direction: column;
 

}

.logocontenue{
   margin-top: 40px;
   height: 40px;
   width: 25%;
   margin-left: 25px;
   
  
}

.titrecontenue{
   color: white;
   margin-left: 25px;
   margin-bottom: 10px;
   margin-top: 30px;
   font-family: p4;
}

.parasectionsecond{
   margin-left: 25px;
   margin-top: 5px;
   color: #5972b5;
   font-family: p1;
}

.buttonsectionsecond{
   height: 100px;
   width: 100%;
   /* background-color: red; */
   display: flex;
   justify-content: center;
}

.button1sectionsecond{
   width: 8%;
   border-radius: 20px;
   height: 40px;
   background-color:  rgb(10,211,239);
   color: white;
   border:0;
   font-family: p1;
   
}

.contenue:hover{
   border: 2px solid rgb(10,211,239);
   cursor: pointer;
   
  
}
 

.contenue:hover .logocontenue{
transform:translatey(-15px);
transition: 1s;
  
}

.button1sectionsecond:hover{
  background-color:transparent;
  
   border: 2px solid rgb(10,211,239);


}

/* 
--------------------fin section second------------------ */

/* -------------------- debut section third---------------------- */

.section_third{
   height: 650px;
   width: 100%;
   background-color: rgb(10,22,80);
   display:flex;
   gap: 5px;
}

.firstdivsectionthird{
   width: 20%;
   /* background-color: red; */
   display: flex;
   align-items: center;
   
}

.seconddivsectionthird{
   height: 650px;
   width: 40%;
   /* background-color: red; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

.enfant1seconddiv{
   height: 300px;
   width: fit-content;
   /* background-color: yellow; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 20px;
}

.thirddivsectionthird{
   width: 50%;
   /* background-color: red; */
   /* display: flex; */
}

.imagefirstsectionthird{
 height: 315px;
 width: 215px;
transform: rotate(180deg);
}

.h4sectionthird{
   color:rgb(22,151,190);
   font-family: p1;
   letter-spacing: 2px;

}

.servicerigth{
   height: 100%;
   width: 100%;
}

.horsecran{
   position: relative;
   left: 322px;
   bottom: 254px;
   border-radius: 10px;
   height: 250px;
   width: 53%;
   background-color:  rgb(10,211,239);
}

.servicebox{
   margin-top: 30px;
   margin-left: 30px;
   
}

.titrehorsecran{
   color: white;
   margin-bottom: 5px;
   font-family: p5;
   margin-left: 30px;
}

.parahorsecran{
   color: white;
   margin-left: 30px;
   margin-top: 0px;
   font-family: p1;
}

.lienhorsecran{
   color: white;
   margin-left: 30px;
   font-family: p1;
}

.enfant2seconddiv{
   width: 100%;
   height: 200px;
   /* background-color: violet; */
   display: flex;
   gap: 10px;
}

.cercle{
   height: 100%;
   width: 33%;
   /* background-color: aqua; */
   display: flex;
   flex-direction: column;
   margin-top: 30px;
  align-items: center;
}


.cercle1{
   width: 80%;
   height: 150px;
   /* background-color: red; */
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   border: 2px solid  rgb(10,211,239);;
}

.chiffredanscercle{
   color: white;
   font-size: 40px;
   font-family: p2;
}

.qualityservice{
   color: white;
   font-family: p1;
}


/* --------------------fin section 3----------------------------------------- */


  






































































































































































































































































































































































































































































/*--------section 4 -------*/

.section_4{
   width: 100%;
   display: flex;
   justify-content: center;
   /* background-color: aquamarine; */
   background-image: url(../../Assets/images/overly-background.png);
   background-position: 80% 49%;
   background-color: rgba(18,32,97,255);
   padding-bottom: 6.5%;
   padding-top: 7%;
}
.section_4>.box{
   display: flex;
   width: 60%;
   /* background-color: aquamarine ; */
   margin-left: 1%;
}

/*-----left-----*/

.section_4>.box>.left{
   width: 50%;
   /* background-color: bisque; */
   display: flex;

}

.section_4>.box>.left > .box2{
   /* background-color: brown; */
   width: 97%;
}

.section_4>.box>.left> .box2 > .list_logos{
        display: grid;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          gap: 6% 1.5%;
          margin-bottom: 0%;
          width: 105%;
          height: 100%;
}
.section_4>.box>.left li{
   list-style-type: none;
   display: flex;
   flex-direction: row;
}

.section_4>.box>.left> .box2 > .list_logos >.box_stat {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(23, 37, 110, 255);
   border-radius: 8%;
   width: 77%; 
   flex-direction: column;
   padding: 7.5%; 
}

.section_4>.box>.left> .box2 > .list_logos >.box_stat img{
   width: 28%;
}


.section_4>.box>.left> .box2 > .list_logos >.box_stat h2{

   font-size: 235%;
   margin-bottom: 2%;
   margin-top: 8%;
}
.section_4>.box>.left> .box2 > .list_logos >.box_stat span {
   color: white;
   font-size: 125%;
   opacity: 0.5;
   margin-bottom: 8.5%;
}

.section_4>.box>.left> .box2 > .list_logos >.box_stat:last-of-type{
   padding-top: 6.5%;
}


.section_4>.box>.left> .box2 > .list_logos >.box_stat:nth-of-type(2) img{
   width: 25%;
}
.section_4>.box>.left> .box2 > .list_logos >.box_stat:nth-of-type(3) img{
   width: 30%;
}
.section_4>.box>.left> .box2 > .list_logos >.box_stat:last-of-type img{
   width: 26%
}
.section_4>.box>.left> .box2 > .list_logos >.box_stat:last-of-type :last-of-type span{
   font-size: 55%;
   padding-left: 0;
}


/*------right-----*/
.section_4>.box>.right{
   width: 50%;
   /* background-color: peru; */
   padding-bottom: 4.5%;
   justify-content: end;
   display: flex;
}
.section_4>.box>.right > .box2 {
   /* background-color: aqua; */
   width: 96.5%;
}

.section_4>.box>.right h4{
   color: rgba(50,158,203,255);
   margin-bottom: 2%;
   font-size: 145%;
}
.section_4>.box>.right h2{
   margin-top: 0;
   margin-bottom: 2%;
   font-size: 320%;
}

.section_4>.box>.right p {
   color: white;
   opacity: 0.5;
   margin-top: 3%;
   margin-bottom: 8%;
   font-size: 129.5%;
   line-height: 165%;
}

.section_4>.box>.right button{
background-color: rgba(8,211,238,255);
color: white;
font-weight: bold;
border: 0;
border-radius: 25px;
width: 33%;
padding: 3%;
font-size: 110%;
}

.section_4>.box>.right button:hover{
   background-color:transparent;
   
    border: 0.1px solid rgb(10,211,239);

 }
/*--------section 5 -------*/


.section_5{
   width: 100%;
   display: flex;
   justify-content: center;
   background-image: url(../../Assets/images/dots-left.png);
   background-repeat: no-repeat;
   background-position: 0 90%;
   background-size: 14%;
}



/*--------section 5 v1.2-------*/

.section_5{
   width: 100%;
   display: flex;
   justify-content: center;
}

.section_5>.box{
   width: 60%;
   display: flex;
   flex-direction: column;
   /* background-color: aqua; */
}

.section_5>.box>.top{
   width: 100%;
   display: flex;
   flex-direction: column;
   /* background-color: bisque; */
   text-align: center;
   margin-bottom: 1%;
}

.section_5>.box>.top h4{
   margin-top: 0;
   padding-top: 0;
   margin-bottom: 1%;
   color: rgba(50,158,203,255);
   font-size: 130%;
   
}
.section_5>.box>.top h2{
   margin-top: 0;
   margin-bottom: 2%;
   font-size: 320%;
}

/*---bottom---*/

.section_5>.box>.bottom p, h3, a{
   color: white;
   text-decoration: none;
}
.section_5>.box>.bottom  a{
   color: white;
   text-decoration: none;
   font-size: 105%;
}
.section_5>.box>.bottom  h3{
   color: white;
   text-decoration: none;
   font-size: 158%;
   margin-top: 3%;
   margin-bottom: 3%;
}
.section_5>.box>.bottom  p{
   margin-bottom: 0;
   opacity: 0.5;
}



.section_5>.box>.bottom a{
   opacity: 0.9;
}
.section_5>.box>.bottom h4{
   margin-top: 4%;
   margin-bottom: 7%;
}

/* .section_5 > .box > .bottom > .left_image > .card > .texte,
.section_5 > .box > .bottom > .right_image > .card > .texte h3{

   font-size: 125%;
} */
.section_5 > .box > .bottom > .left_image > .card > .texte,
.section_5 > .box > .bottom > .right_image > .card > .texte h4{

   font-size: 115%;
}
.section_5 > .box > .bottom > .left_image > .card > .texte,
.section_5 > .box > .bottom > .right_image > .card > .texte p{

   margin: 0;
}



.section_5 > .box > .bottom {
   width: 100%;
   display: flex;
   /* background-color: bisque; */
}

.section_5 > .box > .bottom > .left_image,
.section_5 > .box > .bottom > .right_image {
    flex: 1; 
}

.section_5 > .box > .bottom > .left_image {
    margin-right: 1%; 
}

.section_5 > .box > .bottom > .right_image {
    margin-left: 1%; 
}


.section_5 > .box > .bottom > .left_image > .card,
.section_5 > .box > .bottom > .right_image > .card {
   position: relative;
   width: 100%;
   /* background-color: brown; */
   overflow: hidden; 
   border-radius: 10px;

}

.section_5 > .box > .bottom > .left_image > .card img,
.section_5 > .box > .bottom > .right_image > .card img {
   width: 100%;
   height: auto;
   display: block;
}

.section_5 > .box > .bottom > .left_image > .card > .texte,
.section_5 > .box > .bottom > .right_image > .card > .texte {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 15px;
   box-sizing: border-box;
   /* background-color: rgba(0, 0, 0, 0.7); */
   color: white;
   transition: opacity 0.3s ease-in-out;
   padding-left: 7%;
}

.section_5 > .box > .bottom > .left_image:hover > .card > .texte,
.section_5 > .box > .bottom > .right_image:hover > .card > .texte {
   opacity: 1;
}

.section_5 > .box > .bottom > .left_image:hover > .card img,
.section_5 > .box > .bottom > .right_image:hover > .card img {
    transform: scale(1.1) rotate(3deg);
    transition: 1s;
    border-radius: 10px;
}



/*---animation---*/

.section_5>.box>.bottom>.left_image :hover{
   color: rgb(10,211,239);
}
.section_5>.box>.bottom>.right_image :hover{
   color: rgb(10,211,239);
}

/*---responsive---*/

/*--laptop 1024px--*/
@media (max-width:1024px) {

   .section_5>.box>.bottom>.left_image {
      /* background-color: antiquewhite; */
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding-top: 4%;
      width: 45%;
   }
   .section_5>.box>.bottom>.left_image p{
      font-size: 85%;
      /* background-color: red; */
      display: flex;
      vertical-align: top;
   }
   .section_5>.box>.bottom>.left_image h3{
      /* background-color: red; */
      font-size: 120%;
   }
   .section_5>.box>.bottom>.left_image h4{
      /* background-color: red; */
      font-size: 105%;
   }
   .section_5>.box>.bottom>.right_image {
      /* background-color: antiquewhite; */
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding-top: 4%;
      width: 45%;
   }
   .section_5>.box>.bottom>.right_image p{
      font-size: 85%;
      /* background-color: red; */
      display: flex;
      vertical-align: top;
   }
   .section_5>.box>.bottom>.right_image h3{
      /* background-color: red; */
      font-size: 120%;
   }
   .section_5>.box>.bottom>.right_image h4{
      /* background-color: red; */
      font-size: 105%;
   }
}
/*--tablet 768px--*/
@media (max-width:768px) {

   .section_5{
      background-image: none;
   }
   .section_5>.box{
      padding-top: 10%;
      padding-bottom: 0;
      margin-bottom: 0;
      background-image: url(../../Assets/images/dots-left.png);
      background-repeat: no-repeat;
      background-position: -50px 60%;
      background-size: 25%;
   }

   .section_5>.box>.bottom>.left_image {
      /* background-color: antiquewhite; */
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      padding-top: 23%;
      width: 45%;
   }
   .section_5>.box>.bottom>.left_image p{
      font-size: 70%;
      /* background-color: red; */
      display: flex;
      vertical-align: top;
   }
   .section_5>.box>.bottom>.left_image h3{
      /* background-color: red; */
      font-size: 85%;
   }
   .section_5>.box>.bottom>.left_image h4{
      /* background-color: red; */
      font-size: 65%;
   }
   .section_5>.box>.bottom>.right_image {
      /* background-color: antiquewhite; */
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      padding-top: 4%;
      width: 45%;
   }
   .section_5>.box>.bottom>.right_image p{
      font-size: 85%;
      /* background-color: red; */
      display: flex;
      vertical-align: top;
   }
   .section_5>.box>.bottom>.right_image h3{
      /* background-color: red; */
      font-size: 120%;
   }
   .section_5>.box>.bottom>.right_image h4{
      /* background-color: red; */
      font-size: 105%;
   }
   .section_5>.box>.bottom>.left_image {
      /* background-color: antiquewhite; */
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      padding-top: 23%;
      width: 45%;
   }
   .section_5>.box>.bottom>.left_image p{
      font-size: 70%;
      /* background-color: red; */
      display: flex;
      vertical-align: top;
   }
   .section_5>.box>.bottom>.left_image h3{
      /* background-color: red; */
      font-size: 85%;
   }
   .section_5>.box>.bottom>.left_image h4{
      /* background-color: red; */
      font-size: 65%;
   }
   .section_5>.box>.bottom>.right_image {
      /* background-color: antiquewhite; */
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      padding-top: 23%;
      width: 45%;
   }
   .section_5>.box>.bottom>.right_image p{
      font-size: 70%;
      /* background-color: red; */
      display: flex;
      vertical-align: top;
   }
   .section_5>.box>.bottom>.right_image h3{
      /* background-color: red; */
      font-size: 85%;
   }
   .section_5>.box>.bottom>.right_image h4{
      /* background-color: red; */
      font-size: 65%;
   }

}

/*--------section 6-------*/

.section_6{
   width: 100%;
   display: flex;
   justify-content: center;
   background-image: url(../../Assets/images/dots-right.png);
   background-repeat: no-repeat;
   background-position: 100.7% 70%;
   background-size: 14%;
   padding-bottom: 1%;
}

.section_6>.box{

   width: 61%;
   /* background-color: aquamarine; */
   padding-top: 10%;
   padding-bottom: 5.5%;
}
.section_6 h5, h2{
   color: white;
}

.section_6>.box>.contact_form>.title1{
   display: flex;
   justify-content: center;
   /* background-color: red; */
}
.section_6>.box>.contact_form>.title1 h5{
   color: rgba(50,158,203,255);
   font-size: 175%;
   margin-bottom: 1%;
}
.section_6>.box>.contact_form>.title2{
   display: flex;
   justify-content: center;
   /* background-color: brown; */
}
.section_6>.box>.contact_form>.title2 h2{
   font-size: 335%;
   margin-top: 0;
   margin-bottom: 3%;
}

.section_6>.box>.contact_form form {
   display: flex;
   flex-direction: column;
   width: 97.85%;   
   justify-content: space-between;
   margin-left: 1.6%;
}

.section_6>.box>.contact_form form>.form_row{
   display: flex;
   /* background-color: blueviolet; */
   justify-content: space-between;
}

.section_6>.box>.contact_form form>.form_row:first-child{
   /* background-color: bisque; */
   width: 100%;
}

.section_6>.box>.contact_form form>.form_row:first-child>.box2{
   /* background-color: aqua; */
   display: flex;
   width: 100%;
   justify-content: space-between;
   gap: 1%;
   flex-wrap: wrap;
   margin-bottom: 2%;
}
.section_6>.box>.contact_form form>.form_row:first-child>.box2>.box3{
   flex-grow: 1;
}

.section_6>.box>.contact_form form>.form_row:first-child>.box2 input[type="text"]{
   background-color: red;
   width: 89.5%;
   border-radius: 5px;
   background-color: transparent;
   /* border: none; */
   border-color: rgba(255, 255, 255, 0.567);
   font-size: 105%;
   padding-left: 5.6%;
   padding-top: 5%;
padding-bottom: 4%;
font-weight: bold;

}
.section_6>.box>.contact_form form>.form_row:first-child>.box2 input[type="email"]{
   background-color: red;
   padding-left: 5.6%;
   margin: 0;
   width: 90%;
   border-radius: 5px;
   background-color: transparent;
   /* border: none; */
   border: 2px rgba(255, 255, 255, 0.567) solid;
   /* border-color: rgba(255, 255, 255, 0.567); */
   opacity: 0.2;
   font-size: 105%;
   margin-left: 2%;
   padding-top: 3%;
   padding-bottom: 2.5%;
   font-weight: bold;

}
.section_6>.box>.contact_form form>.form_row:first-child>.box2 input[type="tel"]{
   /* background-color: red; */
   width: 89.5%;
   border-radius: 5px;
   background-color: transparent;
   /* border: none; */
   border-color: rgba(255, 255, 255, 0.567);
   font-size: 105%;
   padding-left: 5.6%;
   margin-left: 3.7%;
   padding-top: 5%;
   padding-bottom: 4%;
   font-weight: bold;

}

.section_6>.box>.contact_form form>.form_row:nth-child(2) input{
   margin-top: 2.5%;
   border-color: rgba(255, 255, 255, 0.567);
   /* background-color: brown; */
   height: 100%;
   width: 100%;
}

.section_6>.box>.contact_form form>.form_row:last-child{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 5%;
}
.section_6>.box>.contact_form form>.form_row textarea{
   
   background-color: transparent;
   width: 100%;
   border: 2px white solid;
   border-radius: 5px;
   opacity: 0.1;
   height: 110%;
   font-weight: bold;
}
.section_6>.box>.contact_form form>.form_row textarea::placeholder{
   color: white;
   padding-left: 1.85%;
   padding-top: 1%;
   font-size: 145%;
   opacity: 200%;
}


.section_6>.box>.contact_form form>.form_row:last-child button{
   background-color: rgba(8,211,238,255);
   color: white;
   font-weight: bold;
   border: 0;
   border-radius: 26px;
   width: 15%;
   padding: 1.6%;
   margin-top: 4.5%;
   font-size: 105%;
   
}
.section_6>.box>.contact_form form>.form_row:last-child button:hover{
   background-color:transparent;
   
    border:  solid rgb(10,211,239);

 }

/*----------------main end--------------------*/


/*---------------footer start-----------------*/

footer{
   width: 100%;
   background-image: url(../../Assets/images/overly-background.png);
   background-position: 50% 50.7%;
   background-color: rgba(18,32,97,255);
   font-family: p1;
}

/*-----footer resume description----*/
footer>.resume_description{
   display: flex;
   justify-content: center;
   width: 100%;
}

footer>.resume_description>.box{
   width: 60%;
   display: flex;
   margin-top: 4%;
   margin-bottom: 7%;
   /* background-color: bisque; */
}

/*----logo side----*/
footer>.resume_description>.box>.logo{
   width: 29%;
   /* background-color: aqua; */
   padding-top: 0%;
   text-align: start;
   /* margin-left: 1%; */
   display: flex;
   flex-direction: column;
}

footer>.resume_description>.box>.logo img{
   width: 62%;
   margin-top: 8%;
   
   /* background-color: red; */

}

footer>.resume_description>.box>.logo p {
   line-height: 190%;
   font-size: 100%;
   color: white;
   opacity: 0.4;
   margin-top: 8.5%;
   margin-bottom: 0;
   margin-left: 0;
   /* background-color: red; */
}
/*----about side----*/

footer>.resume_description>.box>.box{
   /* background-color: aquamarine; */
   width: 22%;
   display: flex;
   justify-content: end;
}

footer>.resume_description>.box>.box>.about{
   width: 80%;
   /* background-color:#5972b5; */
}

footer>.resume_description>.box>.box>.about h1 {
   color: white;
   font-size: 145%;
   padding-left: 5%;
   font-weight: normal;

}
footer>.resume_description>.box>.about a {
   color: white;
   text-decoration: none;
}
footer>.resume_description>.box>.box>.about p>a{
   font-size: 105%;
   padding-left: 5%;
   opacity: 0.4;
}

/*---- services side----*/

footer>.resume_description>.box>.services{
   width: 22%;
   /* background-color: yellow; */
}


footer>.resume_description>.box>.services h1 {
   margin-bottom: 7%;
   color: white;
   font-size: 145%;
   font-weight: normal;
}
address{
   font-style: normal;
   color: white;
   opacity: 0.4;
   font-size: 100%;
   line-height: 175%;
   margin-bottom: 0;
}
a[href^="tel:"] {
   color: white;
   opacity: 0.4;
   text-decoration: none;
   font-size: 100%;

 }
a[href^="mailto:"] {
   color: white;
   opacity: 0.4;
   text-decoration: none;
   font-size: 100%;
   margin-top: 0;

 }

 footer>.resume_description>.box>.services>.list_logo{
   display: flex;
   /* flex-wrap: wrap; */
   width:35%;
   justify-content: space-between;
   padding-top: 5%;
 }
 footer>.resume_description>.box>.services>.list_logo li{
   list-style: none;
 }
 footer>.resume_description>.box>.services>.list_logo img{
   width: 85%;
 }


/*---- newsletter side----*/

footer>.resume_description>.box>.newsletter{
   width: 27%;
   /* background-color: aquamarine; */
   display: flex;
   justify-content: end;
   /* justify-content: end; */
}
footer>.resume_description>.box>.newsletter>.submit{
   /* background-color: red; */
   /* width: 10%; */
   padding-left:17%;
}

footer>.resume_description>.box>.newsletter>.submit h1 {
   margin-bottom: 7%;
   color: white;
   font-size: 135%;
   font-weight: normal;
}

footer>.resume_description>.box>.newsletter>.submit input[type="email"]{
   border-radius: 5px;
   border: 2px white solid;
   height: 16.5%;
   width: 92.2%;
   font-size: 100%;
   padding-left: 8.5%;
   border: 2px solid white 0.4;
   opacity: 0.1;
}


footer>.resume_description>.box>.newsletter>.submit ::placeholder{

   /* background-color: aqua; */
   color: white;
   
}

footer>.resume_description>.box>.newsletter>.submit>.box_agree input[type="checkbox"]{
   /* border:  1px red solid; */
   border-width: 2px;
   /* border-color: green; */
   /* background-color: black; */
   margin-top: 7.5%;
   margin-left: 1%;
   margin-right: 0%;
   transform: scale(1.5);
   /* background-color: transparent; */
}


footer>.resume_description>.box>.newsletter>.submit>.box_agree span{
   font-size: 95%;
   margin-left: 5%;
   opacity: 0.4;
}

input[type="email"]{
   border: 1px solid;
   height: 15%;
   width: 98%;
   border-radius: 5px;
}

footer>.resume_description>.box>.newsletter span{
   font-size: 55%;
   color: white;
   opacity: 0.5;
}

footer>.resume_description>.box>.newsletter>.box_agree{
   display: flex;
   justify-content: flex-start;
}

footer>.resume_description>.box>.newsletter>.box_agree span{
   display: flex;
   text-align: center;
   align-items: center;
   margin-left: 0;
}

footer>.resume_description>.box>.newsletter>.submit{
   position: relative;
   display: inline-block;
   width: 100%;
}
footer>.resume_description>.box>.newsletter>.submit button{
   border: none;
   border-radius: 7px;
   position: absolute;
   right: 4%;
   top: 24%;
   background-color: transparent;
}

footer>.resume_description>.box>.newsletter>.submit button img{
   /* background-color: red; */
   width: 110%;
}
input[type="email"]{
   height: 35px;
   color: none;
   opacity: 0.3;
   background-color: transparent;
}
input[placeholder]{
  opacity:0.3 ;
  color: white;
  padding-left: 4%;
  border-color: grey;
}

/*-----footer copyright----*/

footer >.copyright {
   border-top: 1px solid rgba(255, 255, 255, 0.459);
   display: flex;
   justify-content: center;
}
footer >.copyright p {
   margin-top: 1.5%;
   margin-bottom: 1.5%;
   
   font-size:90.5%;
   color: white;
   opacity: 0.3;
   font-weight: 100;
   font-family: p1;
}




@media screen and (min-width: 375px) and (max-width: 575px) {
   .logo1{
     height: 80px;
     width: 80px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
   }

   .logonav{
      /* background-color: red; */
      width: 100%;
      display: flex;
      justify-content: center;
   }

   
   .recherche{
     
      display: flex;
      gap: 10px;
      width: 80%;
      justify-content: center;
   }
   .navp{
      font-size: 10px;
   }
   .button1{
      width: 30%;
      
   }
   .contenue1header{
      
      height: 600px;
      /* background-color: red; */
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: flex-start;
      
      
   }

   header{
      height: 750px;
   }

   nav{
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .titre1{
      font-size: 25px;
      margin-top: 0px;
   }
   .para{
      font-size: 15px;
   }
   .enfant1{
      /* background-color: green; */
      width: 70%;
      height: 220px;
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 10px;

      
   }

   .enfant2{
      /* background-color: violet; */
      width: 100%;
      height: 320px;
      margin-right: 0px;
      justify-content: center;
      align-items: flex-start;
   }

   .logo2{
      width: 80%;
      height: 250px;
      margin-top: 20px;

   }

   .button2{
      width: 70%;
   }

   .button3{
      width: 70%;
   }

   .button{
      display: flex;
      gap: 10px;
      width: 70%;
   }

   
   .seconddiv{
      display: flex;
      flex-direction: column;
      /* background-color: yellow; */
      align-items: center;
      height: 10000px;
      
   }
   
   .section_first{
      height: 1400px;
      /* background-color: yellow; */
      gap: 0px;
     
   }

   .logosectionfirst{
      /* background-color: red; */
      height: 300px;
      margin-bottom: 0px;
   }

   .imagesectionfirst1{
      height: 300px;
      width: 400px;
   }
   .imagesectionfirst{
      /* background-color: aqua; */
      width: 100%;
      
      height: 300px;
   }
   .textesectionfirst{
      /* background-color: violet; */
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
   }

   .section_second{
      height: 1600px;
      display: flex;
      flex-direction: column;
   }

   .titresectionsecond{
      /* background-color: red; */
      margin-top: 50px;
      width: 100%;
      justify-content: flex-start;
      margin-top: 0px;
   }

   .h1sectionfirst{
      font-size: 25px;
   }

   .section_second{
      /* background-color: yellow; */
      gap: 0px;
      height: 1450px;
   }

   .boxcontenue{
      /* background-color: aqua; */
      flex-wrap: wrap;
      height: 1250px;
      margin-top: 0px;
   }

   .contenue{
      width: 50%;
   }

   .button1sectionsecond{
      margin-top: 10px;
      width: 40%;
   }

   .section_third{
      height: 10000px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
  
   .firstdivsectionthird{
      background-color: red;
      width: 100%;
      height: 0px;
   }

   .seconddivsectionthird{
      background-color: aqua;
      width: 100%;
      height: 600px;
      justify-content: flex-start;
   }

   .imagefirstsectionthird{
      height: 0px;
      width: 0px;
   }

   .enfant1seconddiv{
      margin-top: 50px;
   }

   .thirddivsectionthird{
      background-color: yellow;
      width: 100%;
   }

   .horsecran{
      background-color: violet;
      margin-right: 1000px;
      margin-left: 0px;
   }
}





































































































































/*responsive*/

/*-----footer copyright----*/

/*laptop 1024px*/

@media (min-width:769px)  and (max-width:1024px){

   footer{
      background-position: 45% 58%;
   }

   
   /*-----footer resume description----*/


   /*----logo side----*/

   
   footer>.resume_description>.box>.logo p {
      line-height: 190%;
      font-size: 70%;
   }
   /*----about side----*/
   
   footer>.resume_description>.box>.box>.about h1 {
      font-size: 115%;
   }
   footer>.resume_description>.box>.about a {
      color: white;
      text-decoration: none;
   }
   footer>.resume_description>.box>.box>.about p>a{
      font-size: 75%;
   }
   
   /*---- services side----*/
   
   footer>.resume_description>.box>.services h1 {
      font-size: 115%;
   }
   address{
      font-size: 70%;
   }
   a[href^="tel:"] {
      font-size: 70%;
    }
   a[href^="mailto:"] {
      font-size: 70%;
    }
   
    footer>.resume_description>.box>.services>.list_logo img{
      width: 65%;
    }
   
   
   /*---- newsletter side----*/
   footer>.resume_description>.box>.newsletter>.submit h1 {
      font-size: 105%;
   }
   
   footer>.resume_description>.box>.newsletter>.submit input[type="email"]{
      font-size: 70%;
   }
   
   
   footer>.resume_description>.box>.newsletter>.submit ::placeholder{
   
      /* background-color: aqua; */
      color: white;
      
   }
   
   footer>.resume_description>.box>.newsletter>.submit>.box_agree input[type="checkbox"]{

      transform: scale(1);
   }
   
   
   footer>.resume_description>.box>.newsletter>.submit>.box_agree span{
      font-size: 65%;
   }
   
   footer>.resume_description>.box>.newsletter span{
      font-size: 25%;
   }
   
   footer>.resume_description>.box>.newsletter>.submit button{
      right: 1%;
      top: 26%;
  
   }
   
   footer>.resume_description>.box>.newsletter>.submit button img{
      /* background-color: red; */
      width: 80%;
   }

   footer >.copyright p {
   
   font-size:70.5%;

   }

}

/*tablet 768px*/

@media (min-width:426px)  and (max-width:768px){

   footer{
      background-position: 45% 58%;
   }

   
   /*-----footer resume description----*/


   /*----logo side----*/

   
   footer>.resume_description>.box>.logo p {
      font-size: 50%;
   }
   /*----about side----*/
   
   footer>.resume_description>.box>.box>.about h1 {
      font-size: 85%;
   }
   footer>.resume_description>.box>.about a {
      color: white;
      text-decoration: none;
   }
   footer>.resume_description>.box>.box>.about p{
      margin-bottom: 0;
      margin-top: 0;
   }
   footer>.resume_description>.box>.box>.about p>a{
      font-size: 45%;
      line-height: 0%;
      margin-bottom: 0;
      margin-top: 0;
   }
   
   /*---- services side----*/
   
   footer>.resume_description>.box>.services {
      line-height: 65%;
   }
   footer>.resume_description>.box>.services h1 {
      margin-top: 13%;
      font-size: 85%;
      margin-bottom: 23%;
   }
   address{
      font-size: 40%;
   }
   a[href^="tel:"] {
      font-size: 40%;
    }
   a[href^="mailto:"] {
      font-size: 40%;
    }
   
    footer>.resume_description>.box>.services>.list_logo img{
      width: 45%;
    }
   
   
   /*---- newsletter side----*/
   footer>.resume_description>.box>.newsletter>.submit h1 {
      font-size: 75%;
   }
   
   footer>.resume_description>.box>.newsletter>.submit input[type="email"]{
      font-size: 40%;
   }
   
   
   footer>.resume_description>.box>.newsletter>.submit ::placeholder{
   
      /* background-color: aqua; */
      color: white;
      
   }
   
   footer>.resume_description>.box>.newsletter>.submit>.box_agree input[type="checkbox"]{

      transform: scale(0.8);
   }
   
   
   footer>.resume_description>.box>.newsletter>.submit>.box_agree span{
      font-size: 45%;
   }
   
   footer>.resume_description>.box>.newsletter span{
      font-size: 25%;
   }
   
   footer>.resume_description>.box>.newsletter>.submit button{
      right: 0%;
      top: 25%;
  
   }
   
   footer>.resume_description>.box>.newsletter>.submit button img{
      /* background-color: red; */
      width: 65%;
   }

   footer >.copyright p {
   
   font-size:70.5%;

   }

}

/*mobil l 425px*/

@media (min-width:376px)  and (max-width:425px){

   footer{
      background-position: 40% 60%;
   }

   
   /*-----footer resume description----*/


   /*----logo side----*/

   
   footer>.resume_description>.box>.logo p {
      font-size: 20%;
   }
   /*----about side----*/
   
   footer>.resume_description>.box>.box>.about h1 {
      font-size: 55%;
   }
   footer>.resume_description>.box>.about a {
      color: white;
      text-decoration: none;
   }
   footer>.resume_description>.box>.box>.about p{
      margin-bottom: 0;
      margin-top: 0;
   }
   footer>.resume_description>.box>.box>.about p>a{
      font-size: 25%;
      line-height: 0%;
      margin-bottom: 0;
      margin-top: 0;
   }
   
   /*---- services side----*/
   
   footer>.resume_description>.box>.services {
      line-height: 65%;
   }
   footer>.resume_description>.box>.services h1 {
      margin-top: 13%;
      font-size: 55%;
      margin-bottom: 29%;
   }
   address{
      font-size: 40%;
      margin-bottom: 0;
   }
   a[href^="tel:"] {
      margin-top: 0;
      font-size: 40%;
      margin-bottom: 0;
    }
   a[href^="mailto:"] {
      font-size: 40%;
    }
   
    footer>.resume_description>.box>.services>.list_logo img{
      width: 55%;
    }
   
   
   /*---- newsletter side----*/
   footer>.resume_description>.box>.newsletter>.submit h1 {
      font-size: 45%;
   }
   
   footer>.resume_description>.box>.newsletter>.submit input[type="email"]{
      font-size: 5px;
      width: 85%;
      /* padding: 0; */
   }
   
   
   footer>.resume_description>.box>.newsletter>.submit ::placeholder{
   
      /* background-color: aqua; */
      color: white;
      
   }
   
   footer>.resume_description>.box>.newsletter>.submit>.box_agree input[type="checkbox"]{

      transform: scale(0.5);
   }
   
   
   footer>.resume_description>.box>.newsletter>.submit>.box_agree span{
      font-size: 3px;
      bottom: 40%;
   }
   
   footer>.resume_description>.box>.newsletter span{
      font-size: 2px;
   }
   
   footer>.resume_description>.box>.newsletter>.submit button{
      right: -10%;
      top: 18%;
  
   }
   
   footer>.resume_description>.box>.newsletter>.submit button img{
      /* background-color: red; */
      width: 40%;
   }

   footer >.copyright p {
   
   font-size:30.5%;

   }

}

/*mobil m 375px*/

@media (min-width:321px)  and (max-width:375px){

   footer{
      background-position: 40% 61.5%;
      
   }

   
   /*-----footer resume description----*/


   /*----logo side----*/

   
   footer>.resume_description>.box>.logo p {
      font-size: 20%;
   }
   /*----about side----*/
   
   footer>.resume_description>.box>.box>.about h1 {
      font-size: 55%;
   }
   footer>.resume_description>.box>.about a {
      color: white;
      text-decoration: none;
   }
   footer>.resume_description>.box>.box>.about p{
      margin-bottom: 0;
      margin-top: 0;
   }
   footer>.resume_description>.box>.box>.about p>a{
      font-size: 25%;
      line-height: 0%;
      margin-bottom: 0;
      margin-top: 0;
   }
   
   /*---- services side----*/
   
   footer>.resume_description>.box>.services {
      line-height: 65%;
   }
   footer>.resume_description>.box>.services h1 {
      margin-top: 13%;
      font-size: 55%;
      margin-bottom: 29%;
   }
   address{
      font-size: 40%;
      margin-bottom: 0;
   }
   a[href^="tel:"] {
      margin-top: 0;
      font-size: 40%;
      margin-bottom: 0;
    }
   a[href^="mailto:"] {
      font-size: 40%;
    }
   
    footer>.resume_description>.box>.services>.list_logo img{
      width: 55%;
    }
   
   
   /*---- newsletter side----*/
   footer>.resume_description>.box>.newsletter>.submit h1 {
      font-size: 45%;
   }
   
   footer>.resume_description>.box>.newsletter>.submit input[type="email"]{
      font-size: 5px;
      width: 85%;
      /* padding: 0; */
   }
   
   
   footer>.resume_description>.box>.newsletter>.submit ::placeholder{
   
      /* background-color: aqua; */
      color: white;
      
   }
   
   footer>.resume_description>.box>.newsletter>.submit>.box_agree input[type="checkbox"]{

      transform: scale(0.5);
   }
   
   
   footer>.resume_description>.box>.newsletter>.submit>.box_agree span{
      font-size: 3px;
      bottom: 40%;
   }
   
   footer>.resume_description>.box>.newsletter span{
      font-size: 2px;
   }
   
   footer>.resume_description>.box>.newsletter>.submit button{
      right: -10%;
      top: 18%;
  
   }
   
   footer>.resume_description>.box>.newsletter>.submit button img{
      /* background-color: red; */
      width: 40%;
   }

   footer >.copyright p {
   
   font-size:30.5%;

   }

}






