@font-face{
   font-family: second;
   src: url(../Assets/fonts/OswaldMedium.ttf)

}
body{
   margin:0px;
   padding: 0px;
   width: 100%;
   background-color: rgb(9,24,83);
}

header{
   background-image: url(../../Assets/images/banner-overlay-img.png);
  background-size: cover;
  background-repeat: no-repeat;
   height: 750px;
   width: 100%;
   display: flex;
   flex-direction: column;
   /* background-color: red; */
  
}

nav{
   height: 200px;
   /* background-color: beige; */
   display: flex;
  
}

.logonav{
   height: 200px;
   width: 33%;
   /* background-color: red; */
   display: flex;
   justify-content: end;
   align-items: center;
   margin-top: 30px;
}

.logo1{
   height: 200px;
   width: 200px;
   background-image: url(../../Assets/images/logo-img.png);
   background-repeat: no-repeat;
   margin-top: 20px;

}

.recherche {
   width: 65%;
   height: 200px;
   /* background-color: violet; */
   display: flex;
   gap: 50px;
   align-items: center;
   justify-content: center;
}

.contenue1header{
   height: 800px;
   width: 100%;
   /* background-color: red;
   opacity: 50%; */
   display: flex;
   align-items: center;
   justify-content:end;
   align-items: center;
   
   
   

}

.enfant1{
   height: 300px;
   margin-top: 500px;
   width: 35%;
   /* background-color: yellow; */
   display: flex;
   margin-top: 50px;
   flex-direction: column;
   /* align-items: center; */
   justify-content: center;
 
  
}

.enfant2{
   height: 400px;
   width: 43%;
   /* background-color: green; */
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: center;
   align-items:start;
  
   
}

.logo2{
   height: 600px;
   width: 600px;
   
}

.titre1{
   color:white;
   font-size: 60px;
   margin-bottom: 0;
}

.button2{
   width: 30%;
   border-radius: 20px;
   height: 40px;
   background-color: rgb(10,211,239);
   color: white;
   border:0
}

.button3{
   width: 30%;
   border-radius: 20px;
   height: 40px;
   background-color: rgb(33,82,159);
   color: white;
   border:0;
}

.para{
   color: white;
  
}

.button1{
   width: 15%;
   border-radius: 20px;
   height: 40px;
   background-color:  rgb(10,211,239);
   color: white;
   border:0

}

.navp{
   color: white;
}
/*--------------- header ---------------------------------/*/

































































































































































































































































/*--------section 4 -------*/

.section_4{
   width: 100%;
   display: flex;
   justify-content: center;
   /* background-color: aquamarine; */
   background-image: url(../../Assets/images/overly-background.png);
   background-position: 80% 49%;
   background-color: rgba(18,32,97,255);
   padding-bottom: 6.5%;
   padding-top: 5%;
}
.section_4>.box{
   display: flex;
   width: 61%;
   /* background-color: aquamarine ; */
}

/*-----left-----*/

.section_4>.box>.left{
   width: 50%;
   /* background-color: bisque; */
   display: flex;

}

.section_4>.box>.left>.list_logos{
        display: grid;
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          /* gap: 1%; */
          margin-bottom: 0%;
          width: 105%;
          height: 100%;
}
.section_4>.box>.left li{
   list-style-type: none;
   display: flex;
   flex-direction: row;
}

.box_stat{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(23,37,110,255);
   border-radius: 8%;
   width: 80%;
   flex-direction: column;
}
.box_stat span{
   color: white;
   opacity: 0.3;
   font-size: 100%;
}
.box_stat h2{
   font-size: 175%;
}
.box_stat img{
   width: 25%;
   padding-left: 15%;
}
.section_4>.box>.left>.list_logos>.box_stat:first-of-type{
   /* background-color: aqua; */
   /* background-image: url(../../Assets/images/Cyber-Security-left-card-img1.png);
   background-repeat: no-repeat;
   background-position: center; */
   display: flex;
   height: 98%;
   width: 80%;
   padding-right: 10%;
}
.section_4>.box>.left>.list_logos>.box_stat:first-of-type h2,span{
   margin-left: 15%;
}

.section_4>.box>.left>.list_logos>.box_stat:first-of-type h2{
   /* background-color: aqua; */
   margin-bottom: 5%;
   margin-top: 7%;
}
.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(2){
   /* background-color: aqua; */
   /* background-image: url(../../Assets/images/Cyber-Security-left-card-img2.png);
   background-repeat: no-repeat;
   background-position: center; */
   display: flex;
   height: 98%;
   width: 85%;
   margin-left: -4%;
}
.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(2) h2{
   /* background-color: aqua; */
   margin-bottom: 5%;
   margin-top: 7%;
}
.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(2) span{
   margin-left: 2%;
}
.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(2) img{
   /* background-color: aquamine; */
   padding-left: 2%;
   width: 20%;
}

.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(3){
   /* background-color: aqua; */
   /* background-image: url(../../Assets/images/Cyber-Security-left-card-img3.png);
   background-repeat: no-repeat;
   background-position: center; */
   display: flex;
   height: 98%;
   width: 80%;
   padding-right: 10%;
   margin-top: 2%;
}

.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(3) h2{
   /* background-color: aqua; */
   margin-bottom: 5%;
   margin-left: 15%;
   margin-top: 7%;
}
.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(4){
   /* background-color: aqua; */
   /* background-image: url(../../Assets/images/Cyber-Security-left-card-img4.png);
   background-repeat: no-repeat;
   background-position: center; */
   display: flex;
   height: 98%;
   width: 85%;
   margin-left: -4%;
   margin-top: 2%;
}

.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(4) h2{
    /* background-color: aqua; */
    margin-bottom: 5%;
    margin-top: 7%;
    display: flex;
}
.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(4) img{
   /* background-color: aquamine; */
   padding-left: 2%;
   width: 20%;
}
.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(4) span{
   margin-left: 2%;
}
.section_4>.box>.left>.list_logos>.box_stat:nth-of-type(4) span:first-child{
   /* background-color: brown; */
   color: white;
   opacity: 1;
   font-size: 60%;
   margin-left: 15%;
}
/*------right-----*/
.section_4>.box>.right{
   width: 50%;
   /* background-color: peru; */
   padding-bottom: 4.5%;
}

.section_4>.box>.right h4{
   color: rgba(50,158,203,255);
   margin-bottom: 2%;
}
.section_4>.box>.right h2{
   margin-top: 0;
   margin-bottom: 2%;
   font-size: 250%;
}

.section_4>.box>.right p {
   color: white;
   opacity: 0.5;
   margin-top: 3%;
   margin-bottom: 7%;
}

.section_4>.box>.right button{
background-color: rgba(8,211,238,255);
color: white;
font-weight: bold;
border: 0;
border-radius: 22px;
width: 28%;
padding: 3%;
}
/*--------section 5 -------*/


.section_5{
   width: 100%;
   display: flex;
   justify-content: center;
   background-image: url(../../Assets/images/dots-left.png);
   background-repeat: no-repeat;
   background-position: 0 90%;
   background-size: 14%;
}



/*--------section 5 v1.2-------*/

.section_5{
   width: 100%;
   display: flex;
   justify-content: center;
}

.section_5>.box{
   width: 61%;
   display: flex;
   flex-direction: column;
   /* background-color: aqua; */
}

.section_5>.box>.top{
   width: 100%;
   display: flex;
   flex-direction: column;
   /* background-color: bisque; */
   text-align: center;
}

.section_5>.box>.top h4{
   margin-top: 0;
   margin-bottom: 1%;
   color: rgba(50,158,203,255);
}
.section_5>.box>.top h2{
   margin-top: 0;
   margin-bottom: 2%;
   font-size: 250%;
}


/*---bottom---*/

.section_5>.box>.bottom{
   width: 100%;
   display: flex;
   /* background-color: bisque; */
   justify-content: space-between;
}

.section_5>.box>.bottom>.left_image{
   /* background-color: aqua; */
   width: 52%;
   height:400px;
   background-image: url(../../Assets/images/blog-post-img1.png);
   background-repeat: no-repeat;
   background-size: contain;
}
.section_5>.box>.bottom>.right_image{
   width: 50%;
   height:400px;
   background-image: url(../../Assets/images/blog-post-img2.png);
   background-repeat: no-repeat;
   background-size: contain;
}

.section_5>.box>.bottom img{
   width: 49%;
}

.section_5>.box>.bottom>.left_image{
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   padding-left: 3%;
}
.section_5>.box>.bottom p, h3, a{
   color: white;
   text-decoration: none;
}
.section_5>.box>.bottom p{
   opacity: 0.5;

}

.section_5>.box>.bottom h3{
   font-size: 135%;
   margin-bottom: 0;
   margin-top: 0;
}
.section_5>.box>.bottom a{
   opacity: 0.9;
}
.section_5>.box>.bottom h4{
   margin-top: 4%;
   margin-bottom: 8%;
}


.section_5>.box>.bottom>.right_image{
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   padding-left: 3%;
}
/*--------section 6-------*/

.section_6{
   width: 100%;
   display: flex;
   justify-content: center;
   background-image: url(../../Assets/images/dots-right.png);
   background-repeat: no-repeat;
   background-position: 100.7% 70%;
   background-size: 14%;
}

.section_6>.box{

   width: 61%;
   /* background-color: aquamarine; */
   padding-top: 10%;
   padding-bottom: 5.5%;
}
.section_6 h5, h2{
   color: white;
}

.section_6>.box>.contact_form>.title1{
   display: flex;
   justify-content: center;
}
.section_6>.box>.contact_form>.title1 h5{
   color: rgba(50,158,203,255);
   font-size: 125%;
   margin-bottom: 1%;
}
.section_6>.box>.contact_form>.title2{
   display: flex;
   justify-content: center;
}
.section_6>.box>.contact_form>.title2 h2{
   font-size: 275%;
   margin-top: 0;
   margin-bottom: 3%;
}

.section_6>.box>.contact_form form {
   display: flex;
   flex-direction: column;
   width: 100%;   
   justify-content: space-between;
}

.section_6>.box>.contact_form form>.form_row{
   display: flex;
   /* background-color: blueviolet; */
   justify-content: space-between;
}

.section_6>.box>.contact_form form>.form_row:first-child{
   /* background-color: bisque; */
   width: 100%;
}


.section_6>.box>.contact_form input[type="text"]#name{
   border: 1px solid rgba(128, 128, 128, 0.415);
}

.section_6>.box>.contact_form input[type="text"]#content{
   border: 1px solid rgba(128, 128, 128, 0.415);
}
.section_6>.box>.contact_form input[type="text"]{
   margin-right: 0;
   padding-left: 1%;
   opacity: 0.5;
   width: 31%;
   /* width: 33%; */
   background-color: rgba(9,24,83,255);
   /* background-color: aqua; */
   border-radius: 5px;
   border: 1px solid rgba(128, 128, 128, 0.415);
}

.section_6>.box>.contact_form input[type="email"]{
   opacity: 0.5;   /* width: 33%; */
   width: 31%;
   /* margin-left: 1%; */
   margin-right: 0;
   padding-left: 1%;
   background-color: rgba(9,24,83,255);
   border: 1px solid rgba(128, 128, 128, 0.415);
   border-radius: 5px;
}
.section_6>.box>.contact_form input[type="tel"]{
   opacity: 0.5;
   width: 31%;
   /* margin-right: 1%; */
   /* width: 25%;    */
   padding-left: 1%;
   background-color: rgba(9,24,83,255);
   border: 1px solid rgba(128, 128, 128, 0.415);
   border-radius: 5px;
}

.section_6>.box>.contact_form form>.form_row:nth-child(2){
   width: 100%;
   height: 100px;
   /* background-color: bisque; */
}
.section_6>.box>.contact_form form>.form_row:nth-child(2) input{
   margin-top: 2.5%;
   border-color: rgba(255, 255, 255, 0.567);
   /* background-color: brown; */
   height: 100%;
   width: 100%;
}

.section_6>.box>.contact_form form>.form_row:last-child{
   display: flex;
   justify-content: center;
   width: 100%;
   height: 5%;
}

.section_6>.box>.contact_form form>.form_row:last-child button{
   background-color: rgba(8,211,238,255);
   color: white;
   font-weight: bold;
   border: 0;
   border-radius: 22px;
   width: 15%;
   padding: 1.5%;
   margin-top: 7%;
}

/*----------------main end--------------------*/


/*---------------footer start-----------------*/

footer{
   width: 100%;
   background-image: url(../Assets/images/banner-overlay-img.png);
   background-color: rgba(18,32,97,255);
   background-image: url(../../Assets/images/overly-background.png);
   background-position: 80% 49%;
}

/*-----footer resume description----*/
footer>.resume_description{
   display: flex;
   justify-content: center;
   width: 100%;
}

footer>.resume_description>.box{
   width: 61%;
   display: flex;
   margin-top: 7%;
   margin-bottom: 7%;
}

/*----logo side----*/
footer>.resume_description>.box>.logo{
   width: 39%;
   /* background-color: aqua; */
   padding-top: 2%;
}

footer>.resume_description>.box>.logo img{
   width: 50%;
}

footer>.resume_description>.box>.logo p:first-of-type{
   margin-top: 7%;
   margin-bottom: 0;

}
footer>.resume_description>.box>.logo p {
   color: white;
   opacity: 0.5;
   margin-top: 2%;
   margin-bottom: 0;
}
/*----about side----*/

footer>.resume_description>.box>.about{
   width: 18%;
}

footer>.resume_description>.box>.about h1 {
   color: white;
   font-size: 95%;
}
footer>.resume_description>.box>.about a {
   color: white;
   opacity: 0.5;
   text-decoration: none;
}

/*---- services side----*/

footer>.resume_description>.box>.services{
   width: 28%;
   /* background-color: yellow; */
}


footer>.resume_description>.box>.services h1 {
   margin-bottom: 7%;
   color: white;
   font-size: 95%;
}
address{
   font-style: normal;
   color: white;
   opacity: 0.5;
   font-size: 85%;
}
a[href^="tel:"] {
   color: white;
   opacity: 0.5;
   text-decoration: none;
   font-size: 85%;

 }
a[href^="mailto:"] {
   color: white;
   opacity: 0.5;
   text-decoration: none;
   font-size: 85%;

 }

 footer>.resume_description>.box>.services>.list_logo{
   display: flex;
   /* flex-wrap: wrap; */
   width: 29%;
   justify-content: space-between;
 }
 footer>.resume_description>.box>.services>.list_logo li{
   list-style: none;
 }
 footer>.resume_description>.box>.services>.list_logo img{
   width: 55%;
 }


/*---- newsletter side----*/

footer>.resume_description>.box>.newsletter{
   width: 25%;
}


footer>.resume_description>.box>.newsletter h1 {
   margin-bottom: 7%;
   color: white;
   font-size: 95%;
}

input[type="email"]{
   border: 1px solid;
   height: 15%;
   width: 98%;
   border-radius: 5px;
}

footer>.resume_description>.box>.newsletter span{
   font-size: 55%;
   color: white;
   opacity: 0.5;
}

footer>.resume_description>.box>.newsletter>.box_agree{
   display: flex;
   justify-content: flex-start;
}

footer>.resume_description>.box>.newsletter>.box_agree span{
   display: flex;
   text-align: center;
   align-items: center;
}

footer>.resume_description>.box>.newsletter>.submit{
   position: relative;
   display: inline-block;
   width: 100%;
}
footer>.resume_description>.box>.newsletter>.submit button{
   border: none;
   border-radius: 7px;
   position: absolute;
   right: 5px;
   top: 7px;
}
input[type="email"]{
   height: 35px;
   color: none;
   opacity: 0.3;
}
input[placeholder]{
  opacity:0.1 ;
}

/*-----footer copyright----*/

footer >.copyright {
   border-top: 1px solid rgba(255, 255, 255, 0.459);
   display: flex;
   justify-content: center;
}
footer >.copyright p {
   font-size: 10px;
   color: white;
   opacity: 0.4;
}
